body {
  margin: 0;
  overflow: hidden;
}

.buttonContainer {
  position: absolute;
  width: 100%;
  height: 3rem;
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.paintingButton {
  flex: 1;
  background-color: brown ;
  /* display: flex; */
}

.buttonText {

}